body {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-family: sans-serif;
   font-weight: bold;
   color: #000000;
}

.image {
    width:auto;
    height:auto;
}

.heading {
    font-size: 18pt;
    font-weight: bold;
}

.sub-heading {
    font-size: 14pt;
    font-weight: bold;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
